In [2]:
import os
import pandas as pd

# Logs iniciales
print("=== [1] Iniciando carga de datos ===")

# Verificar entorno virtual activo
venv = os.getenv('VIRTUAL_ENV')
if venv:
    print(f"Entorno virtual detectado: {venv}")
else:
    print("⚠️ No se detectó entorno virtual. Asegúrate de ejecutar este notebook en el kernel del entorno creado por set_up.bat.")

=== [1] Iniciando carga de datos ===
Entorno virtual detectado: C:\Users\uinformatica8.GIGHA\OneDrive - GIGHA SAS - JIRO SAS\Documentos\Tomas\machine-learning\mlops_pipeline-venv

In [3]:
# =========================
# 2️⃣ Configuración de rutas
# =========================
# Buscar archivo CSV
base_path = os.path.abspath(os.path.join(os.getcwd(), "..", ".."))
csv_path = os.path.join(base_path, "Base_de_datos.csv")

print(f"Ruta esperada del dataset: {csv_path}")

if not os.path.exists(csv_path):
    raise FileNotFoundError(f"❌ No se encontró el archivo Base_de_datos.csv en la ruta: {csv_path}")
else:
    print("✅ Archivo CSV encontrado correctamente.")

Ruta esperada del dataset: c:\Users\uinformatica8.GIGHA\OneDrive - GIGHA SAS - JIRO SAS\Documentos\Tomas\machine-learning\Base_de_datos.csv
✅ Archivo CSV encontrado correctamente.

In [4]:
# =========================
# 3️⃣ Cargar los datos
# =========================
print("=== [2] Cargando archivo CSV... ===")

try:
    df = pd.read_csv(csv_path, encoding="utf-8")
    print("✅ Archivo cargado exitosamente con codificación UTF-8.")
except UnicodeDecodeError:
    df = pd.read_csv(csv_path, encoding="latin-1")
    print("⚠️ Archivo cargado con codificación LATIN-1 (errores de codificación en UTF-8).")

=== [2] Cargando archivo CSV... ===
✅ Archivo cargado exitosamente con codificación UTF-8.

In [5]:
# =========================
# 4️⃣ Validación básica
# =========================
print("=== [3] Validando estructura del dataset... ===")
print(f"Dimensiones del dataset: {df.shape[0]} filas, {df.shape[1]} columnas.")
print("\nColumnas detectadas:")
print(df.columns.tolist())

# Mostrar primeras filas
print("\nVista previa de los datos:")
display(df.head())

=== [3] Validando estructura del dataset... ===
Dimensiones del dataset: 2000 filas, 8 columnas.

Columnas detectadas:
['name', 'city', 'income', 'credit_score', 'loan_amount', 'years_employed', 'points', 'loan_approved']

Vista previa de los datos:

,name,city,income,credit_score,loan_amount,years_employed,points,loan_approved
0,Allison Hill,East Jill,113810,389,39698,27,50.0,False
1,Brandon Hall,New Jamesside,44592,729,15446,28,55.0,False
2,Rhonda Smith,Lake Roberto,33278,584,11189,13,45.0,False
3,Gabrielle Davis,West Melanieview,127196,344,48823,29,50.0,False
4,Valerie Gray,Mariastad,66048,496,47174,4,25.0,False

In [6]:
# =========================
# 5️⃣ Validación de valores nulos
# =========================
print("=== [4] Validando valores nulos... ===")
nulls = df.isnull().sum()
print(nulls[nulls > 0] if nulls.sum() > 0 else "✅ No se encontraron valores nulos.")

=== [4] Validando valores nulos... ===
✅ No se encontraron valores nulos.

In [1]:
import pandas as pd

df = pd.read_csv('../../Base_de_datos.csv')
corr = df[['income','credit_score','loan_amount','years_employed','points','loan_approved']].corr()
print(corr['loan_approved'].sort_values(ascending=False))

loan_approved     1.000000
points            0.821415
credit_score      0.715788
income            0.238066
years_employed    0.104408
loan_amount      -0.157859
Name: loan_approved, dtype: float64